Non-latin domains in emails

In https://github.com/epoberezkin/ajv/blob/master/lib/compile/formats.js
```
email: /^[a-z0-9.!#$%&'*+\/=?^_`{|}~-]+@[a-z0-9](?:[a-z0-9-]{0,61}[a-z0-9])?(?:\.[a-z0-9](?:[a-z0-9-]{0,61}[a-z0-9])?)*$/i,
```
But what about non-latin domains from рф and other ?

For example, commons-validator-js supports them: https://github.com/wix/commons-validator-js/blob/master/src/Domains.js


related to #397

Non-latin characters in emails are not allowed by the standards, some email servers/systems may support them but it does not make them valid.

1. See extracts from [RFC 5321, section 4.1.2](https://tools.ietf.org/html/rfc5321#section-4.1.2) in this https://github.com/epoberezkin/ajv/pull/397#discussion_r97484697
2. See definition of ALPHA in [RFC 5234, appendix B.1](https://tools.ietf.org/html/rfc5234#appendix-B.1) that the above refers to.

So email format is how it should be and if you need to support non-latin characters in emails you can re-define it in your app with `.addFormat('email', /.../)` call (it allows not only adding but re-defining as well).

This SMTP standard extension does allow for non-ASCII characters: [RFC 6531](https://tools.ietf.org/html/rfc6531)

JSON Schema draft specifically refers to RFC 5322, not to the extension. You can submit the issue to JSON-schema-org. Even if it is added to the spec, I think it should be an additional format rather than the change in the existing format.

The solution I suggested still works - you can always redefine email format.